.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  color: #fff;
  padding: 10px;
}

.header-right {
  display: flex;
  align-items: center;
}

.date-time {
  display: flex;
  align-items: center;
  background-color: #333;
}

.icon-container {
  display: flex;
  align-items: center;
  margin-right: 20px;
  background-color: #333;
}

.icon {
  margin-right: 5px;
}

h1 {
  margin: 0;
}

nav ul {
  list-style-type: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 20px;
  cursor: pointer;
}

nav ul li:hover {
  text-decoration: underline;
}

/* Header.css */

.shifted {
  width: 88.5vw; /* Adjust the margin to match the width of the expanded sidebar */
}
